

<div class="container">
  <div class="row">
    <% for app in ["Ads","Share Pages","Settings"] %>
    <div class="col-md-4 centered">
      <div class="mainappapp centered">
          <img src="https://support.apple.com/library/content/dam/edam/applecare/images/en_US/il/app-store-icon.png" class="mainappimage">
        <p class="mainappdesc"><%= app %> </p>

      </div>

      </div>
    <% end %>


  </div>
</div>