.controlbody{
  border: 1px solid black;
}
.controlhead{
  text-align:center;
}
.sidenavel{
  border-radius:1em;
  border: 2px solid blue;
  background-color:#ccffff;
  margin-top:5px;
  margin-bottom:5px;
}
.sidenavel:hover{
  color:white;


}